.tx_list div {
  background: rgba(50, 50, 50, 0.15);
  max-width: 70%;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 7px;
  white-space: nowrap;
  color: #121; }
.tx_list div:hover {
  color: #121; }
  .tx_list div:hover a {
    color: #001100; }

.container {
  margin-top: 40px; }
